@media screen and (min-width:1025px) {
    .menu-square {
        display: none
    }
}

@media screen and (max-width:1280px) {
    #img-ceo {
        right: 0;
        height: 56rem
    }
}

@media screen and (max-width:1024px) {
    .menu-square {
        display: none
    }

    .service-card-overlay {
        padding: 2.5rem
    }

    .bn-2 {
        width: 80%
    }

    .bn-4 {
        width: 100%
    }

    .benefits-grid {
        gap: 2rem
    }

    .benefit-card p {
        font-size: 1.2rem
    }

    .footer-content {
        grid-template-columns: 1.5fr 1fr
    }

    .wrapper-content-CEO {
        width: 50rem
    }

    #img-ceo {
        height: 48rem;
    }

}

@media screen and (max-width:992px) {
    .menu-square {
        display: block
    }

    .div-content-text-header, .button-primary {
        display: none
    }

    header .container {
        display: flex;
        justify-content: space-evenly
    }

    .service-card h4, .tag-soon p {
        font-size: 2.4rem
    }

    #img-ceo {
        height: 46rem;
    }

    .footer-bottom {
        margin-bottom: 1rem
    }
}

@media screen and (max-width:834px) {
    .section-banner1 {
        background-image: url(../img/bg-home-section-mobile.webp);
        background-size: cover;
        background-position: center
    }

    .bn-2 h2 {
        font-size: 2.2rem
    }

    .bn-2 {
        width: 60%
    }

    .wrapper-content-bn4 {
        width: 100%
    }

    .service-card h4,
    .tag-soon p {
        font-size: 2rem
    }

    .bn-ceo h3 {
        width: 36rem;
        font-size: 1.6rem;
    }

    #img-ceo {
        height: 400px
    }
}

@media screen and (max-width:768px) {
    .h1-content-banner {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    h1 {
        font-size: clamp(2rem, 5vw, 4.8rem)
    }

    .button {
        font-size: 1.8rem;
        width: 100%;
        height: 4rem;
        padding: .8rem 2rem;
        margin: 0 auto;
        margin-bottom: 2rem
    }

    .section-banner2 {
        background: url(../img/bg-vision-section-mobile.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 75%
    }

    .wrapper-content-bn2, .bn-2 {
        width: 100%
    }

    .bn-2 h2 {
        font-size: 4rem
    }

    .service-card h4 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:576px) {

    .section-banner2 {
        background-position: center 65%
    }

    .div-content-banner3-wrapper-img {
        grid-template-columns: repeat(1, 1fr)
    }

    .service-card h4 {
        font-size: 2rem
    }

    #vetor-grid-form {
        top: -180px
    }

    .benefits-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .section-CEO {
        height: 50vh
    }

    #img-ceo {
        height: 60%;
        margin: 0 auto;
        left: 0
    }

    .wrapper-content-CEO, .bn-ceo, .bn-ceo h3 {
        width: 100%
    }

    .footer {
        padding: 4rem 0
    }

    .footer-logo img {
        height: 2rem
    }

    .footer-cta h2 {
        width: 100%
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 2rem
    }

    .footer-contact {
        max-width: 100%
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem
    }

    .footer-bottom a, .footer-bottom p {
        font-size: .6rem
    }

    .footer-social {
        width: 100%;
        justify-content: space-around
    }

    .footer-info {
        margin: 0 auto;
        display: block;
        text-align: center
    }

    .copyright {
        margin-top: .65rem;
        margin-bottom: 1.5rem
    }

    .credits {
        margin-bottom: 1.5rem
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 1.65rem
    }

    .box-line-vetor h3 {
        margin-bottom: 34px
    }

    #vetor-grid-form {
        position: absolute;
        top: -150.5px;
        right: -30px
    }
}