@media screen and (min-width:1025px) {
    .menu-square {
        display: none
    }
}

@media screen and (max-width:1280px) {

    #img-ceo {
        right: 0;
        height: 54rem;
    }

    .wrapper-content-CEO {
        width: 60rem;
    }
}

@media screen and (max-width:1200px) {

    .wrapper-content-vision {
        width: 58rem;
    }

    .service-card-text h4 {
        font-size: 2.4rem;
    }

    .wrapper-content-CEO {
        width: 54rem;
    }

    #img-ceo {
        height: 48rem;
    }
}

@media screen and (max-width:1024px) {
    .header-nav-menu, .button-primary {
        display: none;
        justify-content: space-evenly
    }

    .menu-square {
        display: block
    }

    header .container {
        justify-content: space-evenly
    }

    .wrapper-content-vision {
        width: 48rem
    }

    .wrapper-content-CEO {
        width: 50rem;
    }

    #img-ceo {
        height: 44rem;
    }
}

@media screen and (max-width:991px) {
    .wrapper-content-vision {
        width: 44rem;
    }
}

@media screen and (max-width:834px) {

    #img-ceo {
        height: 40rem;
        right: -20px
    }

    .text-content-ceo h3 {
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    .s-hero-vision {
        background-image: url(../img/bg-vision-section-mobile-2.webp);
        background-size: cover;
    }

    .wrapper-content-vision {
        width: 95%
    }

    .text-content-vision h2 {
        padding-bottom: 4.4rem;
    }

    .text-content-vision h3 {
        width: 60%;
        padding-bottom: 4.2rem
    }

    .service-card-overlay {
        padding: 2rem
    }

    .service-card-text h4 {
        font-size: 2rem
    }

    .section-CEO {
        height: 921px
    }

    .wrapper-content-CEO {
        width: 100%
    }

    .text-content-ceo h3 {
        width: 100%
    }

    #img-ceo {
        left: 0;
        right: 0;
        margin: auto
    }

    .footer .container {
        height: 545px
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin-bottom: 0;
    }

}

@media screen and (max-width:560px) {
    .s-hero-home {
        background-image: url(../img/bg-home-section-mobile.webp);
    }

    .s-hero-home .container {
        flex-direction: column;
        text-align: center
    }

    .button-secondary {
        width: 100%;
        margin-bottom: 2.4rem
    }

    .wrapper-content-vision {
        width: 100%
    }

    .text-content-vision h2 {
        padding-bottom: 1.4rem
    }

    .text-content-vision h2 {
        font-size: 3.2rem;
    }

    .text-content-vision h3 {
        width: 100%;
        padding-bottom: 3.2rem
    }

    .wrapper-content-services-cards {
        grid-template-columns: repeat(1, 1fr)
    }

    .service-card-text h4 {
        font-size: 2.8rem
    }

    .text-content-services h2 {
        width: 100%
    }

    .footer .container {
        height: 685px
    }

    .footer-content {
        grid-template-columns: none;
    }


}

@media screen and (max-width:480px) {
    h1 {
        font-size: 1.8rem
    }

    .s-hero-vision {
        background-image: url(../img/bg-vision-section-mobile.webp);
        background-size: cover
    }

    .wrapper-content-vision {
        margin-top: 3.4rem
    }

    #img-ceo {
        height: 38rem;
    }

    .text-content-ceo h2 {
        font-size: 3rem;
    }

    .footer-cta h2 {
        width: 100%;
        font-size: 2.8rem;
    }

    .button-tertiary {
        width: 100%;
    }

    .box-line-vetor h3 {
        margin-bottom: 32px
    }

}

@media screen and (max-width:340px) {
    h1 {
        font-size: 1.4rem
    }

    .service-card-text h4 {
        font-size: 2rem;
    }

    .text-content-services h2 {
        font-size: 3.2rem;
    }

    .wrapper-content-vision h3 {
        font-size: 1.4rem;
    }

    .footer-bottom a, p {
        font-size: 1.2rem;
    }

    .copyright {
        font-size: 1rem;
    }

}


@media screen and (max-width:280px) {
    h1 {
        font-size: 1.2rem
    }

    .text-content-vision h2 {
        font-size: 2.4rem;
    }

    .wrapper-content-vision h3 {
        font-size: 1.2rem;
    }

}