a {
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    transition: opacity .3s ease
}

p {
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

h1 {
    font-family: "Open Sans";
    font-size: clamp(3rem, 4vw, 4.8rem);
    font-style: normal;
    font-weight: 700;
    line-height: 110%
}

h2 {
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: .4px
}

h3 {
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}

h4 {
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%
}

h5 {
    color: var(--black-900);
    font-family: "Neue Haas Grotesk Display Pro";
    font-style: normal;
    font-weight: 600;
    line-height: 140%
}

.text-content-vision h2,
.wrapper-content-vision h3,
.wrapper-content-benefitsh3,
.section-banner4, .text-content-benefits h2 {
    color: var(--Preto-Charcoal-900, #070B0E)
}

h1,
.wrapper-content-services h3,
.text-content-services h2,
.text-content-ceo h2,
.wrapper-content-CEO h3,
.contact-label {
    color: var(--Cinza-Claro-25, #FCFCFC)
}

a,
.service-card-text h4,
.copyright,
.credits {
    color: var(--white)
}

.box-line-vetor {
    width: 25rem;
    display: flex;
    align-items: baseline;
    gap: .8rem
}

.box-line-vetor h3 {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 64px
}

.button {
    display: inline-flex;
    height: 4rem;
    padding: .8rem 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    text-decoration: none;
    font-family: var(--font-open-sans);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 140%;
    background: var(--white);
    color: var(--black-900);
    transition: transform .3s ease
}

.button-secondary {
    margin-right: 3.2rem
}

.button:hover {
    transform: translateY(-2px)
}

.cta-link {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: opacity .3s ease, transform .3s ease;
    font-family: var(--font-open-sans);
    font-size: 1.8rem;
    line-height: 140%
}

.cta-link img {
    width: 2rem;
    height: 2rem;
    transition: transform .3s ease
}

.cta-link:hover {
    opacity: .8;
    transform: translateY(-2px)
}

.cta-link:hover img {
    transform: translateX(5px)
}

#cta-primary, #cta-tertiary {
    color: var(--gray-25)
}

#cta-secondary {
    color: var(--black-900)
}

.cta-link-tertiary {
    margin-bottom: 6.4rem
}